# Ignore frontend build influence on language stats
frontend/dist/* linguist-generated=true
frontend/node_modules/* linguist-generated=true

# Treat UI as documentation (not primary logic)
frontend/src/* linguist-detectable=false
frontend/*.html linguist-detectable=false
frontend/*.css linguist-detectable=false
frontend/*.js linguist-detectable=false

# Keep backend counted
backend/*.py linguist-detectable=true
